<div class="dashboard-container">

    <aside class="sidebar">
      <div class="logo">
        <h2>Admin</h2>
      </div>
      <nav>
        <ul>
          <li class="menu-item" [class.active]="currentTab === 'users'" (click)="setTab('users')">Users</li>
          <li class="menu-item" [class.active]="currentTab === 'products'" (click)="setTab('products')">Products</li>
        </ul>
      </nav>
    </aside>
  

    <div class="main-content">

      <app-navbaar></app-navbaar>
  

      <section class="content-area">

        <div *ngIf="currentTab === 'users'">    <app-table [toTable]="UserList"></app-table> </div>
        <div *ngIf="currentTab === 'products'">    
            <app-table [toTable] = "ProductList" ></app-table> 
            <app-table [toTable]="UserList"></app-table>
        </div>
        <app-table [toTable] = "ProductList" ></app-table> 
        <button (click)="popup.open()">Open Popup Form</button>
        <app-popup #popup></app-popup>
      </section>
    </div>
  </div>

