<div class="border-collapse border border-gray-400">
    <table class = "wp aec aei">
        <thead>
            <tr>
            @for(h of tableHeaders; track h) {
                <th >{{h | header}}</th>
                }
            </tr>
        </thead>
        <tbody>

                @for(item of toTable; track item) {
                    <tr>
                    @for(h of tableHeaders; track h){
                            <td [innerHTML]="item[h] | rowPipe" ></td>
                        }
                    </tr>
                    }

          </tbody>
    </table>    
</div>